<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <title>TASC | Schedule</title>
    <link rel="stylesheet" th:href="@{dist/style.css}">
</head>
<body>
    <div id="calendar"></div>
    <script th:src="@{dist/bundle.js}"></script>
</body>
</html>
    
