<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" s lang="en-us">
<head>
    <title>TASC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{dist/style.css}"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Teaching Assistant Student Connector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
        </div>

        <form class="form-inline">
            <a href="/deauth" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
        </form>
    </nav>
</header>

<main role="main">
    <div>
        <div class="row mr-0">
            <div class="col-3 pr-0">
                <div id="student-course-nav">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="course: ${courses}">
                            <a href="#" th:data-course-id="${course.id}" class="d-block"
                               th:data-ta-ids="${course.teachingAssistants}">
                                <h5 class="card-title" th:text="${course.courseName}"/>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${course.courseCode}"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8 pt-3 border-left">
                <h1 class="display-4">STUDENT PAGE</h1>
                <div class="mb-3" id="calendar"></div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{dist/bundle.js}"></script>
</body>
</html>
