<div th:insert="base :: header" xmlns:th="http://www.w3.org/1999/xhtml"></div>


<div class="jumbotron" style="overflow: auto;">

    <div class="card" style="float:left; margin-right: 20px; overflow-y: auto; height: 800px;">
        <div class="card-header">
            Assigned Courses
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Advanced Programming International Class</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Dr. Ade Azurat</h6>
                            <p class="card-text">Mondays & Thursdays 8-9am</p>
                            <a href="#" class="card-link">See Course Schedule</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Intelligent Systems International Class</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ms. Victoria</h6>
                            <p class="card-text">Mondays & Wednesdays 1-2pm</p>
                            <a href="#" class="card-link">See Course Schedule</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Intelligent Systems Regular Class</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ms. Aruni</h6>
                            <p class="card-text">Tuesdays & Fridays 8-9am</p>
                            <a href="#" class="card-link">See Course Schedule</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Intelligent Systems Regular Class</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ms. Aruni</h6>
                            <p class="card-text">Tuesdays & Fridays 8-9am</p>
                            <a href="#" class="card-link">See Course Schedule</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Intelligent Systems Regular Class</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ms. Aruni</h6>
                            <p class="card-text">Tuesdays & Fridays 8-9am</p>
                            <a href="#" class="card-link">See Course Schedule</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <h1 class="display-4">TA HOME</h1>
    <h1 class="display-4">[INSERT CALENDAR HERE]</h1>
    <!--<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
    <!--<hr class="my-4">-->
    <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->


</div>
    <!--<h1>TASC: Teaching Assistant-Student Connector</h1>-->
    <!--<p>Hello, welcome to Teaching Assistant-Student Connector!</p>-->


