<div th:insert="base :: header" xmlns:th="http://www.w3.org/1999/xhtml"></div>

<div class="jumbotron" style="overflow: auto;">

    <div class="card" style="float:left; margin-right: 20px;">
        <img src="img/profilepic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">John Smith</h5>
            <p class="card-text">A 3rd-year Computer Science Student</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: 21</li>
            <li class="list-group-item">GPA: 3.6/4.</li>
            <li class="list-group-item">Contact Details: <br><br> Email: johnsmith29@gmail.com <br>
            Phone Number: 085882185218 </li>

        </ul>

    </div>

    <h1 class="display-4">PROFILE PAGE</h1>


    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-body">
                        <h5 class="card-title">Courses They Assist In:</h5>
                        <p class="card-text">
                            <ul>
                                <li>Advanced Programming</li>
                                <li>Data Structures and Algorithms</li>
                                <li>Databases</li>
                            </ul>
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card-body">
                        <h5 class="card-title">Additional Info</h5>
                        <p class="card-text">Aside from my schedule, I'm always in Lab A.206 every Monday nights from 8-9pm for any additional assistance.
                        You may come without an appointment during this period.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



    <!--<h1>TASC: Teaching Assistant-Student Connector</h1>-->
    <!--<p>Hello, welcome to Teaching Assistant-Student Connector!</p>-->

